@charset "UTF-8";

body {
    background-color: rgb(233, 70, 58);
}

h1 {
    text-align: center;
}

main {
    background-color: rgb(240, 240, 113);
    height: auto;
    width: 700px;
    text-align: center;
    margin: auto;
    padding: 40px;
    border-radius: 10px;

}